:root {
	--card-bg:#181717;
	background: rgb(30, 54, 54);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}


.card {
	background: var(--card-bg);
	color: rgb(179, 70, 230);
	width:50vw;
	min-height:40vh;
	text-align: center;
	border-radius:15px;
	box-shadow:0 3px 5px black;
	text-shadow: 0 0 3px orangered;
}

input {
	background:#191919;
	border-radius:15px;
	border:1px solid orangered;
}