@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
h1 {
	font-family: 'Play';
}
:root {
	--card-bg:#181717;
	background: url('https://i.ibb.co/cXDSZ0R/Untitled13-20211104211634.png');
	background-position: ;
	
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;

	
}
html {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top:25vh;
	background: url('https://i.ibb.co/cXDSZ0R/Untitled13-20211104211634.png');
}


.card {
	background: var(--card-bg);
	color: rgb(223, 178, 43);
	display:flex;
	flex-direction: column;
	text-align: center;
	border-radius:15px;
	box-shadow:0 3px 15px rgb(77, 60, 10);
	text-shadow: 0 0 3px orangered;
	
	
	border:1px solid rgb(223, 178, 43);
	padding-bottom:25px;
	padding-left: 5px;
	padding-right:5px;
}

input {
	background:#0a0a0a;
	border-radius:15px;
	border:1px solid rgb(199, 132, 9);
	color:white;
	text-align: center;
	padding:5px;
	margin:7px;
	box-shadow: 0 0 3px rgb(228, 195, 47),0 0 10px rgba(145, 127, 10, 0.8),0 0 12px rgba(228, 186, 47,0.5);
	transition: 1s;
}
input:focus {
	outline:none;
	box-shadow: 0 0 5px orangered, 0 0 25px orangered;
	transition: 1s;
}
#form {
	display: flex;
	flex-direction: column;

}